* {
    margin: 0px;
    padding: 0px;
}

ul {
    /* list-style-type: none; */

    /* list-style-image: url("./images/icone\ \(1\).png"); */

    /* list-style: square url("./images/icone\ \(1\).png"); */

    list-style: square inside url("./images/icone\ \(1\).png");
        background-color: orange;
}

ol {
    list-style: square inside url("./images/icone\ \(1\).png");
        background-color: blue;
}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol li {
    border: 1px solid black;
    padding: 20px;
}